.form-register {
    padding: 1rem;

    h1 {
        margin-bottom: 20px;
    }

    .form-floating {
        position: relative;
        margin-bottom: 10px;

        label {
            background: none;

            &::after {
                background: none !important;
            }
        }
    }
}
